.fileManagementWrapper {
  /* position: absolute; */
  /* right: 6rem; */
  /* top: 4rem; */
  display: flex;
  flex-direction: column;

  .languagesWrapper {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    .languageLogo {
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid white;
    }
    .languageActive {
      box-shadow: 0px 0px 1px 2px #fff;
    }
  }
}

.fileName {
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 4rem;
}

.fileManagementButton {
  color: white;
  font-size: 50pt;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
  margin-top: 4rem;
}
.fileManagementButton:hover {
  transform: scale(1.5, 1.5);
  opacity: 1;
}
