.text-container {
  padding: 20px;
  height: 100%;
  position: relative;
}

.writerArea {
  background: transparent;
  resize: none;
  border: 0 none;
  width: 95%;
  font-size: 2em;
  outline: none;
  height: 85%;
  padding: 2rem 0 0 2rem;
}

.writerArea {
  vertical-align: top;
  scrollbar-width: thin;
  scrollbar-color: black white;
  cursor: auto;
}

.writerArea::placeholder {
  color: white;
  font-style: italic;
  opacity: 0.5;
}

.writerArea::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.writerArea::-webkit-scrollbar-track {
  background: transparent;
  /* border-left: 1px solid var(--gray-25);
  border-right: 1px solid var(--gray-25); */
}

.writerArea::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

.writerArea::-webkit-scrollbar-thumb:hover {
}
